{% extends 'base.html.twig' %}

{% block body %}
<div>
    <blockquote>
    <p>Myślenie, które zrodziło problem nie może być tym myśleniem, które problem rozwiąże.</p>
    <footer>Albert Einstein </footer>
    </blockquote>
</div>
    
    
   
<h3>Czym jest dysleksja?</h3>
<p>Istnieje kilka definicji tego zjawiska, jedne skupiają się na przyczynach powstania inne na objawach.</p>
<p>Ogólnie rzecz biorąc jest to pewnego rodzaju zaburzenie, które objawia się specyficznymi trudnościami w nauce czytania lub szerzej ujmując trudnościami w nauce. Zjawisko występuję u osób, które są prawidłowo rozwinięte intelektualnie i nie powinny mieć z nauką problemów. Nie rzadko są to osoby o ilorazie inteligencji znacznie przewyższającym wartość średniego współczynnika, przykładem dyslektyka jest np. Albert Einstein.</p>
<p>Należy podkreślić, że dysleksja to nie choroba, z której można się wyleczyć, dyslektykiem jest się na całe życie. Osobę z dysleksją charakteryzuje inny sposób pracy mózgu.</p>
<p>Dlaczego więc mają takie problemy???</p>
<p>Z przeprowadzonych badań jasno wynika, że u takich oób w trakcie czytania dodatkowo uaktywniają się trzy ośrodki w prawej półkuli mózgu, ten efekt nie występuje u osób bez dysleksji. Wiadomo, że jeden z tych ośrodków jest odpowiedzialny za postrzeganie obrazów w całości. Skutek tego jest taki, że uczeń w szkole podstawowej w procesie nauki czytania dostaje do przeczytania słowa, które są podzielone na literki, np. K-O-T, czyta K, czyta O, czyta T, ale nie potrafi tego złożyć w jedno słowo KOT i nie potrafi skojarzyć tego słowa z tym co zna z rzeczywistości, czyli z futrzastym, małym zwierzątkiem, które biega po podwórku. Na tym polega problem u osób z dysleksją, wiedzą co oznacza słowo kot, bo można się z nimi komunikować ustnie i doskonale rozumieją to co się do nich mówi, ale jeżeli mają to słowo zapisane, podzielone na literki, wtedy ten proces nie zachodzi. Można z tego wyciągnąć następujący wniosek, skoro dyslektyk zna znaczenie słów, dodatkowo widzi obrazy w całości, więc w ten sposób należy go uczyć czytać, całymi wyrazami, osoba z dysleksją ma problem z nauką czytania, jeżeli jest nauczana, że każda literka to osobny obraz, a literka sama w sobie nie ma żadnego znaczenia, dopiero zbiór literek, który układa się w słowo ma sens i tak powinien być odbierany, całe słowo to jeden obraz.</p>
<p>Jak już zostało powiedziane, dyslektycy to osoby, które postrzegają w sposób całościowy, nie tylko w kwestii czytania. Dyslektycy mają swój własny indywidualny system nauki "od ogółu do szczegółu"</p>
<p>Aby się czegoś nauczyć muszą mieć najpierw ogólny zarys zagadnienia, jego strukturę i dopiero wtedy są w stanie podpinać nowe informacje i odpowiednio je lokować w większej kompozycji.</p>
<p>Istnieje olbrzymia ilość sposobów przy pomocy, których dyslektycy mogą całkiem sprawnie czytać i się uczyć, pod warunkiem, że będą to inne metody niż te, których używali wcześniej.</p></div>

{% endblock %}