{% extends 'base.html.twig' %}

{% block body %}
<center>
    <h3>Dziękujemy za zapis!!!</h3>
    <p>Sprawdz skrzynkę email, właśnie wysłaliśmy do Ciebie maila z potwierdzeniem. Gdyby wiadomości nie było, sprawdz folder spam</p>
</center>
{% endblock %}