{% extends 'base.html.twig' %}

{% block body %}
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Czy każdy może nauczyć się szybko czytać?
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        Zdecydowania tak! Należy jednak doprecyzować termin "szybko", EDU stawia sobie za cel co najmniej trzykrotne przyspieszenie zachowując lub podnosząc poziom zrozumienia czytanego tekstu u kursantów. Przyjmując, że przeciętna osoba czyta z prędkością około 200 słów na minutę to końcowy wynik oscyluje przy 600 snm. Należy dodać, że to minimum, większość kursantów osiąga około pięciokrotne przyspieszenie, czyli około 1000 snm, a nie rzadko zdarzają się wyniki w granicach 2000 snm.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Jak wygląda proces nauki szybkiego czytania?
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        Cały proces to tak naprawdę zmiana nawyków czytelniczych, które zostały nabyte w szkole podstawowej i zastąpienia ich nowymi umiejętnościami.

        Po pierwsze - ćwiczenie oczu. Należy zdać sobie sprawę z tego jak poruszają sie oczy po tekście, nie jest to ruch płynny, jednostajny, lecz skokowy (oczy wykonują przeskok od słowa do słowa) i tylko w momencie postoju dokonuje się odczyt. Wniosek z tego należy wyciągnąć taki, że przez odpowiednie ćwiczenia zwiększające pole widzenia oczy nie będą musiały zatrzymywać się na każdym wyrazie z osobna, lecz uchwycą całe grupy wyrazowe. Dodatkowo można także skrócić czas potrzebny na postrzeganie i rozpoznanie wyrazów.

        Po drugie - fonetyzacja czyli subwokalizacja wewnętrzna. Proces, który objawia się tym, że w trakcie czytania mamy tendencję do bezgłośnego wymawiania odczytywanego tekstu w myślach. Samo w sobie nie jest to niczym złym, jednak spowalnia proces czytania dość mocno, gdyż zrozumienie tekstu zależne jest w tym wypadku od jego brzmienia. Są badacze, którzy twierdzą, że fonetyzacji nie da się oduczyć (T. Buzan), ale udaje się osiągnąć coś innego, można uniezależnić rozumienie czytanego tekstu od jego strony dźwiękowej.

        Po trzecie to ćwiczenia, które wspomagają zdolność naszego umysłu do tego aby budował zrozumienie czytanego tekstu tylko i wyłącznie na podstawie obrazu słów.

        Wniosek z tego jest taki, że zaawansowany czytelnik na jednym postoju oczu widzi więcej słów tzn. grupy wyrazowe, krócej na nie patrzy i od razu rozumie to co widzi bez wymawiania
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Jakie są etapy opanowywania umiejętności szybkiego czytania?
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        Cały proces trwa około 2 miesięcy.

        Na początku pracy skupiamy się na oczach, to im poświęcamy najwięcej uwagi, przyzwyczajamy je do postrzegania całych grup wyrazów i maksymalnie skracamy czas potrzebny na ich rozpoznanie. Etap ten charakteryzuje się niewielkim zrozumieniem czytanego tekstu, które jednak stopniowo rośnie do 4-5 tygodnia.

        Po tym etapie zrozumienie tekstu jest już dość dobre, ale jest jeszcze ulepszane przez kolejne 2-3 tygodnie. Cechą charakterystyczną tego etapu jest fakt, że w czasie czytania zrozumienie jest już na zadawalającym poziomie, jednak po zakończeniu czytania problem stanowi przypomnienie sobie treści tego co się czytało. Ostatni etap to pamięć. Nasz umysł nigdy wcześniej nie dostawał tak pokaźnych porcji informacji w takim tempie, więc nie jest w stanie ich przyswoić, stopniowo należy oswoić umysł z taką prędkością, tak aby informacje z niego nie uciekały i to jest właśnie ostatni etap opanowywania umiejętności szybkiego czytania.
      </div>
    </div>
  </div>
     <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
         A jak wygląda proces budowania zrozumienia od strony umysłu?
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        W roku 1956 amerykański profesor psychologii Georg Miller opublikował wyniki swoich badań nad pamięcią. Doszedł do wniosku, że umysł ludzki może przyjąć w danej chwili jedynie 7± 2 porcje informacji. Ilość informacji, którą można przyswoić jest uzależniona od rodzaju tych informacji oraz od indywidualnych możliwości człowieka. Jak to się przekłada na proces czytania? Jeżeli cofniemy się do czasów szkoły podstawowej i przypomnimy sobie początki naszej nauki czytania, to zobaczymy, że zanim pojawił się KOT, najpierw było K-O-T. Dostawaliśmy trzy porcje informacji, które składaliśmy w jedną KOT, nie było z tym problemu, bo maksymalnie możemy przyjąć 7±2, jednak gdy trzeba było przeczytać T-R-A-N-S-F-O-R-M-A-T-O-R, dostawaliśmy już 13 porcji informacji i tego już nasz umysł nie potrafił zastąpić jedną informacją, bo przekraczaliśmy liczbę Millera. Jak można ten problem ominąć? TRANS-FOR-MA-TOR, sylabizując, tego nas uczono, czytać sylaba po sylabie, zastępowaliśmy 13 informacji czterema i z tym nasz umysł mógł już sobie poradzić, bo cztery informacje da się zastąpić jedną. Obecnie u dorosłych czytelników w większości przypadków podstawową jednostką informacji jest słowo, przeszliśmy drogę od liter przez sylaby do całych słów, podczas nauki szybkiego czytania dokonujemy kolejnego przeskoku, jednostką informacji stają się dla nas grupy wyrazów, całe zdania, które zostają zastąpione sensem w nich zawartym.
      </div>
    </div>
  </div>
     <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
          Jak dokonuje się pomiaru prędkości czytania i stopnia zrozumienia tekstu?
        </a>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        Służą do tego specjalnie przygotowane teksty, w których wcześniej została policzona liczba słów oraz testy z pytaniami zamkniętymi do tekstu. Pytań jest przeważnie 10 i do każdego pytania są 3 odpowiedzi do wyboru. W trakcie czytania mierzy się czas i następnie korzysta ze wzoru:

        V=S*60/t

        W rezultacie otrzymujemy prędkość mierzoną ilością słów na minutę. Po udzieleniu odpowiedzi na wszystkie pytania określa się ich prawidłowość, np.: jeżeli odpowiedzi prawidłowych było 7, to zrozumienie jest na poziomie 70%.

        Należy sobie uświadomić fakt, że o ile prędkość czytanego tekstu mierzona w ten sposób jest wielkością, która nam coś mówi, o tyle rozumienie badane w ten sposób niekoniecznie. Teoretycznie można udzielić prawidłowej odpowiedzi na wszystkie pytania i mieć mgliste pojęcie o czym dany tekst był, gdyż w głowie mogły zostać tylko i wyłącznie te informacje, do których było pytanie. Z drugiej strony można dokładnie oddać sens tego co się przeczytało, ale nie zapamiętać np. daty, miejsca lub ewentualnie innej informacji, o którą zostaliśmy zapytani.
      </div>
    </div>
  </div>
     <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
          Co to są techniki pamięciowe (mnemotechniki) i jak działają?
        </a>
      </h4>
    </div>
    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        Funkcjonowanie naszej pamięci podlega pewnym prawom i regułom, to czy dana informacja zostanie zapamiętana zależy od tego czy podporządkujemy się tym regułom. Nie ma czegoś takiego jak kiepska pamięć, czasami po prostu nie zdajemy sobie sprawy z zasad, które nią rządzą. Każdy zbiór informacji (nieważne jak duży) można przyswoić jeżeli robi się to w odpowiedni sposób, temu właśnie służą techniki pamięciowe. Mnemotechniki jest to zbiór zasad, który wykorzystuje naturalny sposób działania pamięci: łańcuchowa metoda zapamiętywania, zakładkowa metoda zapamiętywania, fonetyczny alfabet cyfrowy - to tylko niektóre z nich. Większość z tych technik była znana już w starożytności, jednak dużo ważniejsze jest zrozumienie zasad, na których się owe techniki opierają gdyż to tak naprawdę nam zagwarantuje, że informacje zostaną zapamiętane.
      </div>
    </div>
  </div>
     <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
          Co to są mapy myśli (Mind Maps)?
        </a>
      </h4>
    </div>
    <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        To specyficzny sposób notowania, odmienny od szkolnego (linearnego), gdzie informacje są zapisywane całymi zdaniami linijka pod linijką. Mapa myśli odzwierciedla naturalne szlaki pamięciowe, informacje są na niej umieszczane w sposób naturalny dla umysłu na zasadzie skojarzeń, pojawiają sie tylko słowa kluczowe, tzn. słowa, które niosą najwięcej treści i które nasuwają odpowiednie skojarzenia, część informacji występuje w postaci symboli. Pomimo odmienności metody - wartość map myśli jest nieoceniona, ilość informacji jaka może się zmieścić na jednej mapie jest olbrzymia - często jest to treść kilku, kilkunastu stron, ale największą wartością mapy jest fakt, że samo jej sporządzenie sprawia, że znacząca część tych informacji mamy już w głowie!!!
      </div>
    </div>
  </div>
     <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="true" aria-controls="collapseEight">
          Dlaczego relaks i koncentracja są takie ważne podczas czytania i nauki?
        </a>
      </h4>
    </div>
    <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        Relaks i koncentracja to nasze własne stany wewnętrzne i powinny być do naszej dyspozycji wtedy kiedy ich potrzebujemy. Ludzie wypracowali sobie swoje własne strategie osiągania relaksu: kawa, papierosy, fajny film, ale wszystko to czynniki zewnętrzne. Co zrobić kiedy jesteśmy zestresowani i nie możemy skorzystać z żadnej z tych rzeczy? Powinniśmy nauczyć się osiągać ten stan w dowolnej chwili sami z siebie bez dodatkowych pomocy, to naprawdę jest proste. A jak wygląda sprawa z koncentracją, dużo ludzi mówi, że ma kiepską koncentrację, to nieprawda. Fakt jest taki, że tak naprawdę w ciągu całego dnia cały czas jesteśmy skoncentrowani, problem polega na tym, że ta koncentracja nam przeskakuje z jednego zagadnienia na drugie, musimy nauczyć się ją odpowiednio kierować i utrzymać tam gdzie chcemy, a to również nie stanowi wielkiego problemu.

        Czym tak naprawdę jest relaks? To stan naszego umysłu, w którym obie półkule mózgowe idealnie ze sobą współpracują, każda z nich jest odpowiedzialna za inne funkcje, a cały umysł jest w tym momencie wyjątkowo chłonny i przyjmuje nowe informacje bardzo szybko, jeżeli dodamy do tego koncentrację, która jest po prostu ukierunkowaniem myśli na dane zagadnienie, to w tym momencie tworzymy kanał, którym wszystkie informacje trafiają prosto do naszego umysłu.
      </div>
    </div>
  </div>
     <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="true" aria-controls="collapseNine">
         Co to jest NLP?
        </a>
      </h4>
    </div>
    <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        NLP to skrót, Programowanie Neurolingwistyczne. Jest to wiedza o tym w jaki sposób słowa (-lingwistyczne) wpływają na układ nerwowy (neuro-) tak aby być zdolnym do wykonania określonego zadania (programowanie). W prostych słowach można powiedzieć, że jest to modelowanie ludzkiej doskonałości. Jeżeli jedna osoba coś robi i osiągą znakomite efekty, a druga chce dokonać tego samego a się nie udaje, to powinna zapytać co konkretnie robi ta pierwsza osoba. Wszystkie techniki NLP to wynik modelowania tych osób, które osiągają znakomite efekty w swoich dziedzinach. Dzięki tym technikom można szybko i łatwo nauczyć się np. skutecznie motywować do nauki, osiągać stan koncentracji, szybko pozbyć się stresu i odzyskać dobry nastrój, można się także pozbyć fobii oraz pokonać lęk przed podjęciem pewnych działań.
      </div>
    </div>
  </div>
    
</div>
{% endblock %}