{% extends 'base.html.twig' %}

{% block body %}
<hr>
<center><h3>Program Kursu szybkiego czytania i technik pamięciowych</h3></center>
<hr>

<hr>
<center><b><h4>CZYTANIE</h4></b></center>
<hr>


<p><b>Poszerzanie pola widzenia</b> - w czasie czytania nasze oczy oglądają tylko pojedyncze słowa, jednak dzięki odpowiednim ćwiczeniom można nauczyć się obejmować jednym spojrzeniem całe grupy wyrazów.</p>

<p><b>Szybszy ruch oczu po tekście</b> - przy tradycyjnym czytaniu oczy poruszają się bardzo wolno, przez zastosowanie wskaźnika i ćwiczenie mięśni oczu ten ruch można znacząco przyspieszyć.</p>

<p><b>Techniki prowadzenia wskaźnika</b> - kursanci poznają i ćwiczą 5 technik prowadzenia wskaźnika po tekście. W zależności od rodzaju tekstu potrafią zastosować odpowiednią technikę w celu lepszego zrozumienia tekstu.</p>

<p><b>Szybsze postrzeganie</b> - gdy oczy poruszają się wolno, jest dużo czasu na obejrzenie słów, przez odpowiednie ćwiczenia oczy wypracowują sobie umiejętność szybszego rozpoznawania wyrazów.</p>

<p><b>Pojemność pamięci krótkotrwałej</b> - dostrzeżone słowa muszą zostać zapamiętane, ćwiczymy zatem pojemność pamięci krótkotrwałej.</p>

<p><b>Umiejętność wyciągania sensu z zapamiętanego obrazu słów</b> - aby pojawiło się zrozumienie tekstu, umysł, który pracuje na sensie, na znaczeniu słów, a nie na ich graficznym obrazie musi szybko ten sens wyciągnąć z zapamiętanego obrazu słowa, zanim ten obraz zostanie zapomniany a pamięć zrobi miejsce na kolejną porcję informacji. To jeden z kluczowych elementów, do którego przykładamy olbrzymią wagę, bo on decyduje o dobrym zrozumieniu tekstu.</p>

<p>Zestaw ćwiczeń skutkuje przyspieszeniem tempa czytania od 3 do 5 razy, choć kursanci, którzy sumiennie ćwiczą osiągają kilkunastokrotne przyspieszenie z zachowaniem lub podniesieniem poziomu zrozumienia czytanego tekstu.</p>

<hr>
<center><b><h4>PAMIĘĆ</h4></b></center>
<hr>

    <p><b>Łańcuchowa metoda zapamiętywania</b> - doskonale sprawdza się w przypadku konieczności przyswojenia długich ciągów informacji</p>.

    <p><b>Zakładkowa metoda zapamiętywania</b> - służy do zapamiętywania nowych informacji wykorzystując jako bazę informacje, które już posiadamy. Innymi słowy, jeżeli posiadamy w pamięci jakiś zbiór informacji to wykorzystujemy go do zapamiętania nowych.</p>

    <p><b>Fonetyczny alfabet cyfrowy</b> - znakomicie się sprawdza w przypadku ciągów cyfrowych, np. daty z historii, numery telefonów, numery kont bankowych.</p>

    <p><b>Metoda kształtowo-liczbowa</b> - niezastąpiona w przypadku, kiedy istotny jest numer porządkowy przypisany do jakiegoś zjawiska, zdarzenia, czy pozycji. Np.: Kto był trzynastym władcą Polski?</p>

    <p><b>Technika słów zastępczych</b> - nieoceniona w przypadku nowych, trudnych pojęć czy nauki słówek z języka obcego.</p>

    <p>Technika pamięciowa służąca do zapamiętywania skomplikowanych wzorów z matematyki, fizyki i chemii.</p>

    <p>Każda z technik oprócz trwałości zapamiętywania charakteryzuje się nieograniczoną ilością informacji, którą można zapamiętać. W czasie jednej sesji nauki można zapamiętać 50, 70 a nawet i 100 słówek.</p>

    <p><b>Cytaty</b> - dzięki specjalnemu systemowi nauki pojedynczych krótkich cytatów rozbudowujemy naturalną zdolność pamięci do zwiększania swojej pojemności. Metoda ta jest wykorzystywana m.in.: w środowiskach prawniczych, kiedy to przyszły adwokat na egzaminie kończącym aplikację musi wykazać się biegłą znajomością aktualnych przepisów prawnych. Metoda ta umożliwia pamięciowe opanowanie np.: całych kodeksów.</p>

    <p>Dodatkowo kursanci zapoznają się z ogólnymi zasadami funkcjonowania pamięci, dlatego po kursie mają dowolność modyfikowania i urozmaicania powyższych technik pamięciowych i potrafią dowolnie je modyfikować w zależności od materiału, który mają do opanowania.</p>

<hr>
 <center><b><h4>STANY SPRZYJAJĄCE NAUCE</h4></b></center>
<hr>

    <p><b>Koncentracja</b> - w trakcie trwania kursu nasi uczniowie wykonują rozmaite ćwiczenia służące poprawieniu koncentracji, skutkuje to tym, że czas koncentracji wielokrotnie się wydłuża.</p>

    <p><b>Relaks</b> - to bardzo ważny dla nauki stan, to wtedy mamy łatwy dostęp do zasobów prawej i lewej półkuli mózgu, to wtedy nasz umysł pozostaje otwarty i chłonny na nowe informacje, a nauka przebiega bardziej efektywnie. Nasi kursanci dzięki odpowiednim ćwiczeniom potrafią wchodzić w stan relaksu w ciągu kilku sekund niezależnie od okoliczności. Jest to istotna  umiejętność w czasie stresujących sytuacji, które są niestety częstym zjawiskiem w obecnych czasach, potrafimy wówczas w pełni korzystać ze swoich zasobów intelektualnych.</p>
<hr>
<center><b><h4>KOMPETENCJE WSPOMAGAJĄCE PROCES NAUKI</h4></b></center>
<hr>

    <p><b>Piktogramy</b> - „ Jeden obraz jest wart więcej niż tysiąc słów” uczymy naszych kursantów, że skomplikowane zagadnienia stają się bardziej przejrzyste gdy przedstawimy je w postaci rysunku lub schematu. Dzięki temu uzyskujemy bardziej ogólny punkt widzenia i lepsze zrozumienie tematu.</p>

    <p><b>System powtórkowy</b> - z przeprowadzonych badań psychologicznych wynika, że już następnego dnia zapominamy aż 80% informacji z dnia poprzedniego. Dlatego nasi kursanci są świadomi, kiedy należy powtarzać daną partię materiału i jak to robić w sposób szybki i efektywny.</p>

    <p><b>Notatka nielinearna</b> - tutaj nasi kursanci zdobywają umiejętność samodzielnego tworzenia notatek, z których nauka jest łatwa i przyjemna a sam proces tworzenia takiej notatki jest niezwykle twórczy, bo angażuje obie półkule mózgowe. Dzięki takiemu podejściu informacje w notatce są uporządkowane logicznie i odzwierciedlają naturalne szlaki pamięciowe w umyśle. Dodatkową korzyścią tworzenia takiej notatki jest fakt, że po jej stworzeniu olbrzymią część informacji  kursanci zapamiętują.</p>
<br><br>


{% endblock %}
