{% extends 'base.html.twig' %}

{% block body %}
<center>
<h3>REGULAMIN OKREŚLA ZASADY ORGANIZOWANIA NABORÓW ORAZ REZERWACJI MIEJSCA NA KURSIE SZYBKIEGO CZYTANIA I TECHNIK PAMIĘCIOWYCH</h3>

<strong>§ 1</strong>

<h4>Organizator i kursanci</h4>
    </center>
<ol>
    <li>EDU Szkoła szybkiego czytania i technik pamięciowych Oddział w Poznaniu zwana dalej EDU organizuje Kursy szybkiego czytania i technik pamięciowych.</li>
    <li>Kursantem jest uczestnik Kursu szybkiego czytania i technik pamięciowych.</li>
</ol>
<center><strong>§ 2</strong>



<h4>Kurs</h4>
</center>
<ol>
    <li>Kursy szybkiego czytania i technik pamięciowych przeznaczone są dla młodzieży (od 13 roku życia) i dorosłych.</li>
    <li>Liczba zajęć oraz godzin  kursu określona jest w umowie udziału w kursie, którą otrzymują Państwo przed kursem.</li>
    <li>W zajęciach uczestniczyć może maksymalnie 10 osób.</li>
    </ol>
<center>
<strong>§ 3</strong>

<h4>Nabory</h4>
</center>

<ol>
    <li>Nabory na kurs trwają cały rok.</li>
    <li>Kursy ruszają w terminach wyznaczonych przez EDU i opublikowanych na stronie internetowej www.szybkieczytanie-poznan.pl.</li>
    
</ol>

<center>
    <strong>§ 4</strong>

<h4>Termin i miejsce zajęć</h4>
</center>
<ol>
    <li>Daty rozpoczęcia zajęć wyznacza EDU.</li>
    <li>Zajęcia organizowane są w miejscach wyznaczonych przez EDU.</li>
    <li>O dokładnej lokalizacji zajęć EDU informuje na stronie internetowej www.szybkieczytanie-poznan.pl.</li>
    <li>W szczególnych wypadkach na miejsce zajęć może zostać wybrana inna lokalizacja.</li>
    
    </ol>

<center>
<strong>§ 5</strong>

<h4>Zgłoszenie udziału w kursie</h4>
</center>
<ol>
    <li>Zapisanie na kurs odbywa się na podstawie zgłoszenia przez Kursanta woli uczestnictwa w kursie oraz uregulowania opłaty rezerwacyjnej w wysokości 90,00 złotych.</li>
    <li>Dokonanie opłaty rezerwacyjnej jest niezbędne do zarezerwowania miejsca na kursie.</li>
    <li>Aby skorzystać z ceny promocyjnej kursu należy w okresie objętym promocją cenową dokonać rezerwacji oraz uregulować opłatę rezerwacyjną. Tylko spełnienie obu warunków gwarantuje uzyskanie promocji cenowej.</li>
    <li>Opłatę rezerwacyjną należy uregulować w okresie obowiązującej promocji cenowej, po wysłaniu formularza rejestracyjnego na numer konta 03 2490 0005 0000 4530 6834 7489 w tytule przelewu wpisując Opłata rejestracyjna – Kurs dla dorosłych EDU Poznań, imię i nazwisko kursanta.</li>
    <li>Opłata rezerwacyjna wliczana jest na poczet ceny kursu.</li>
    <li>Zgłoszenie woli uczestnictwa w kursie dokonywane jest poprzez:
    <ol type = "a">
        <li>wypełnienie i wysłanie formularza zgłoszeniowego na stronie internetowej www.szybkieczytanie-poznan.pl lub</li>
        <li>drogą mailową na adres e-mailowy wskazany na stronie internetowej www.szybkieczytanie-poznan.pl lub</li>
        <li>telefonicznie – pod numerem telefonu wskazanym na stronie internetowej www.szybkieczytanie-poznan.pl</li>
    </ol>
        </li>
      <li>Każde zgłoszenie udziału w kursie musi zawierać następujące elementy:
<ol type = "a">
    <li>Imię, nazwisko oraz datę urodzenia,</li>

    <li>Adres zamieszkania,</li>

    <li>Telefon kontaktowy,</li>


    <li>Adres e-mailowy,</li>

          <li>Wybrany termin zajęć z listy terminów opublikowanej na stronie www.szybkieczytanie-poznan.pl.</li>
      </ol>    
</li>
    <li>Dane personalne i teleadresowe podane w zgłoszeniu są niezbędne do przygotowania umowy udziału w kursie i będą wykorzystywane tylko i wyłącznie na potrzeby przygotowania umowy oraz informowania o aktualnościach dotyczących zajęć.</li>

    <li>Potwierdzenie przyjęcia zgłoszenia rezerwacji dokonywane jest przez EDU drogą mailową w terminie do 3 dni roboczych od daty zgłoszenia rezerwacji oraz zaksięgowaniu opłaty rejestracyjnej licząc od dnia następnego po dniu zgłoszenia.</li>

    <li>EDU potwierdzając przyjęcie zgłoszenia przesyła drogą e-mailową umowę udziału w kursie do wglądu.</li>

    <li>Umowę do podpisu Kursant otrzyma na pierwszych zajęciach kursu.</li>
</ol>

<center>
<strong>§ 6</strong>

<h4>Rezygnacja z kursu</h4>
</center>

<ol>
    <li>Anulowanie rezerwacji tj. rezygnacja z kursu możliwa jest do 7 dni roboczych przed terminem rozpoczęcia kursu.</li>
    <li>W przypadku anulowania rezerwacji w terminie wymienionym w § 4 pkt. 1 EDU zwraca opłatę rezerwacyjną.</li>
    <li>Rezygnacja musi zostać zgłoszona co najmniej drogą mailową na adres e-mailowy: poznan@akademiaedukacji.pl, z podaniem imienia i nazwiska.</li>
    <li>EDU potwierdza anulowanie rezerwacji drogą e-mailową oraz w terminie 3 dni od przyjęcia rezygnacji zwraca opłatę rezerwacyjną na podany przez Kursanta numer konta bankowego.</li>
    <li>W przypadku naruszenia terminu z pkt. 1 EDU zatrzymuje wpłaconą opłatę rezerwacyjną.</li>
    <li>EDU może zażądać nieodwołalnego potwierdzenia dokonanej rezerwacji.</li>
    
    </ol>
<center>
<strong>§ 7</strong>

<h4>Opłaty</h4>
</center>

<ol>
    
    <li>Opłata za uczestnictwo w kursie naliczana jest zgodnie z Umową kursu, niezależnie od faktycznej ilości godzin uczestnictwa Kursanta w kursie.</li>
    <li>Opłata za kurs jest regulowana poprzez: uregulowanie opłaty rezerwacyjnej przed rozpoczęciem kursu oraz wpłatę reszty opłaty za kurs w ciągu 7 dni od daty rozpoczęcia kursu.</li>
    
    </ol>
<center>
<strong>§ 8</strong>
</center>
<ol>
<li>Wszelkie kwestie nieokreślone w niniejszym Regulaminie są szczegółowo przedstawione w umowie udziału w kursie.</li>
 </ol>

 

 <br><br> <br><br>

<br><br>
    
{% endblock %}